body {
    font: 12px arial;
    color: #222;
    text-align: center;
    padding: 35px; 
    }
  
.form, .p, .span {
    margin: 0;
    padding: 0; 
    }
  
.input { 
font: 12px arial; 
}
  
  .logout{
     position: relative; 
     float: right;
  background-color: #F1948A ;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #000000;
  padding: 7px;
  width: 100px;
  text-align: center;
    
    
  }
  
  
  .logout:hover{

  background-color: #E74C3C ;
 
    
  }
  
#wrapper, #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #12307A;
    width: 514px;
    border: 1px solid #ACD8F0; 
     border-radius: 20px;
    }
  
#loginform { padding-top: 18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #7198FB;
    height: 270px;
    width: 435px;
    border: 1px solid #A6DBF0;
    overflow: auto;
    border-radius: 15px;
    }
  
  #chatbox:hover{
  background: #8AD0EB;  
    
    
  }
  
#usermsg {
    padding:10px;
    width: 380px;
    background: #7198FB;
     border-radius: 5px;
     border: 2px solid #A6DBF0;
    }
  
  #usermsg:hover{
  background: #8AD0EB;  
    
    
  }
  
  
  .button{
  position: relative;
  background-color: #7198FB;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #000000;
  padding: 10px;
  width: 65px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:hover{
   background: #090F80;
   color: white;
   padding: 13px;
  width: 75px;
  
}

.button:after {
  content: "";
 background: #5EB7FF;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.5s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

  

.error { color: #ff0000; }
  
#menu { padding: 12.5px 25px 12.5px 25px; }
  
.welcome { 
float: left;
font-size: 15px;
color:#6CA7FB;


  }
  
